doctype html
html
  head
    title File Uploader
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/dropzone.css')
    script(src='/javascripts/dropzone.js')
  body
    block content
